:root{
    --base-color:rgb(245, 245, 245);
    --primary-color:white;
    --text-color:black;
    --accent-color:rgb(222, 222, 222);
    --hover-color:#141414c8;
}
.darkmode{
    --base-color:rgb(36, 36, 36);
    --primary-color:black;
    --text-color:white;
    --accent-color:rgb(62, 62, 62);
    --hover-color:hsla(0, 0%, 97%, 0.785);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font: 1em Poppins, "Segoe UI", sans-serif;
    color: var(--text-color);
}
body{
    color: var(--text-color);
    background-color: var(--accent-color);
}
.container{
    display: flex;
    flex-direction: column;
    min-height: 94dvh;
    min-height: 94vh;
    background-color: var(--base-color);
    margin: 2rem;
    border: none;
    border-radius: 1rem;
}
#theme-switch{
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--hover-color);
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 8rem;
    right: 4rem;
    cursor: pointer;
    transition: 300ms ease-in-out;
}
#theme-switch:hover{
    background-color: var(--accent-color);
}
#theme-switch svg{
    fill: var(--base-color);
}
#theme-switch:hover svg{
    fill: var(--hover-color);
}
#theme-switch .dark-icon {
    display: none;
}
.darkmode #theme-switch .light-icon {
    display: none;
}
.darkmode #theme-switch .dark-icon {
    display: block;
}
nav{
    background-color: var(--base-color);
    border: none;
    padding: 0 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}
nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    list-style:none;
}
nav a{
    display: flex;
    text-decoration: none;
    color: var(--text-color);
    margin: 0.5rem 0.2rem;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: 200ms ease-in;
}
nav a:hover{
    background-color: var(--hover-color);
    color:var(--primary-color);
}
main{
    flex: 1;
    padding: min(5em,7%);
    margin: auto;
    border: none;
    border-radius: 2rem;
}
h1,h2{
    font-size: 3rem;
    margin: 10px;
}
p{
    padding: 10px;
}
.about-services {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
    align-items: flex-start;
  }
.about, .services {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.service-card {
    background-color: var(--accent-color);
    padding: 1rem;
    border-radius: 0.5rem;
    transition: 400ms ease;
}
.service-card:hover{
    background-color: var(--hover-color);
    color: var(--primary-color);
}
h3,h4{
    font-size: 1.4rem;
    text-align: center;
}
.topic{
    font-size: 1.1rem;
    font-weight: bold;
}
.cta{
    margin: 6px;
}
button{
    background-color: var(--accent-color);
    color: var(--text-color);
    font-size: 15px;
    padding: 0.8rem;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: 200ms ease-in;
}
button:hover{
    background-color: var(--hover-color);
    color: var(--primary-color);
}
.footer{
    border: none;
    border-radius: 1rem;
    font-size: 9px;
    display: flex;
    justify-content: center;
    transition: 300ms ease;
}
.footer:hover{
    background-color: var(--hover-color);
    color: var(--primary-color);
}
@media (max-width: 992px) {
    .heading {
      text-align: center;
    }
    .about-services {
        flex-direction: column;
    }
    #theme-switch{
        top: 4rem;
        right: 4rem;
    }
    .cta{
        display: flex;
        justify-content: center;
    }
    nav ul{
        justify-content: center;
    }
    nav a {
        padding: 0.5rem;
        font-size: 0.9rem;
      }
      .about-services{
        align-items: center;
        justify-content: center;
      }
      .about, .services {
        text-align: center;
      }
  }  